CREATE DATABASE [AircraftControl];
USE [AircraftControl]
GO
/****** Object:  Table [dbo].[Aeronave]    Script Date: 02/02/2020 21:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeronave](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](6) NULL,
	[MaxDepartureWeight] [decimal](18, 3) NULL,
	[MaxLandingWeight] [decimal](18, 3) NULL,
	[Active] [bit] NULL,
	[AircraftModel] [varchar](8) NULL,
	[AircraftModelId] [int] NULL,
 CONSTRAINT [PK_Aeronave] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModeloAeronave]    Script Date: 02/02/2020 21:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModeloAeronave](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](4) NULL,
	[AlternativeCode] [varchar](4) NOT NULL,
	[MaxDepartureWeight] [decimal](18, 3) NULL,
	[MaxLandingWeight] [decimal](18, 3) NULL,
 CONSTRAINT [PK_ModeloAeronave] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aeronave] ON 

INSERT [dbo].[Aeronave] ([Id], [Prefix], [MaxDepartureWeight], [MaxLandingWeight], [Active], [AircraftModel], [AircraftModelId]) VALUES (1, N'PP-BER', CAST(4.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), 1, N'PL2', 1)
INSERT [dbo].[Aeronave] ([Id], [Prefix], [MaxDepartureWeight], [MaxLandingWeight], [Active], [AircraftModel], [AircraftModelId]) VALUES (2, N'PR-YRF', CAST(77.000 AS Decimal(18, 3)), CAST(65.000 AS Decimal(18, 3)), 1, N'320', 2)
INSERT [dbo].[Aeronave] ([Id], [Prefix], [MaxDepartureWeight], [MaxLandingWeight], [Active], [AircraftModel], [AircraftModelId]) VALUES (3, N'PP-PJA', CAST(38.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), 1, N'E75', 3)
GO
SET IDENTITY_INSERT [dbo].[Aeronave] OFF
SET IDENTITY_INSERT [dbo].[ModeloAeronave] ON 

INSERT [dbo].[ModeloAeronave] ([Id], [Code], [AlternativeCode], [MaxDepartureWeight], [MaxLandingWeight]) VALUES (1, N'PL2', N'PL2', CAST(4.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)))
INSERT [dbo].[ModeloAeronave] ([Id], [Code], [AlternativeCode], [MaxDepartureWeight], [MaxLandingWeight]) VALUES (2, N'320', N'A32', CAST(77.000 AS Decimal(18, 3)), CAST(65.000 AS Decimal(18, 3)))
INSERT [dbo].[ModeloAeronave] ([Id], [Code], [AlternativeCode], [MaxDepartureWeight], [MaxLandingWeight]) VALUES (3, N'E75', N'E175', CAST(38.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)))
GO
SET IDENTITY_INSERT [dbo].[ModeloAeronave] OFF
ALTER TABLE [dbo].[Aeronave]  WITH CHECK ADD  CONSTRAINT [FK_Aeronave_ModeloAeronave] FOREIGN KEY([AircraftModelId])
REFERENCES [dbo].[ModeloAeronave] ([Id])
GO
ALTER TABLE [dbo].[Aeronave] CHECK CONSTRAINT [FK_Aeronave_ModeloAeronave]
GO
